<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505791872937-o9cbm9ff907vuhcacnkqljv9fp0cr9bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505791872937-o9cbm9ff907vuhcacnkqljv9fp0cr9bs</string>
	<key>API_KEY</key>
	<string>AIzaSyB441XkmOM16DMoHoGx4BtA0gFVb7djPhE</string>
	<key>GCM_SENDER_ID</key>
	<string>505791872937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonation</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-60c4b</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-60c4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505791872937:ios:0c6682b96fef0011dd0eb8</string>
</dict>
</plist>